torch
torchvision
timm
pytorch-lightning
wandb
torchaudio
XlsxWriter
matplotlib
openpyxl
torchmetrics
pandas
ipykernel 
ipywidgets
streamlit
grad-cam==1.4.6
streamlit_free_text_select
albumentations
einops
kaggle